<mat-tab-group mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
        <img src="assets\img\tab-database-icon.png">
        <span class="tab-title">Database Navigator</span>
    </ng-template>
    <div class="tree-tab">
        <app-tree-view></app-tree-view>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        <img src="assets\img\tab-projects-icon.png">
        <span class="tab-title">Projects</span>
    </ng-template>
    Projects Tab
  </mat-tab>
</mat-tab-group>
